@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  /*Primary*/
  /**Text**/
  --color-very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --color-soft-red: hsl(14, 88%, 65%);
  /**Gradient**/
  --color-soft-violet: hsl(273, 75%, 66%);
  --color-soft-blue: hsl(240, 73%, 65%);

  /*Neutral*/
  /**Text**/
  --color-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --color-dark-grayish-blue: hsl(240, 6%, 50%);
  /**Dividers**/
  --color-light-grayish-blue: hsl(240, 5%, 91%);
}

* {
  box-sizing: border-box;
  font-family: "Kumbh Sans";
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    var(--color-soft-violet) 0%,
    var(--color-soft-blue) 100%
  );
}

#root {
  width: 100vw;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  padding: 20px;
  width: 820px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

#box {
  content: url("../public/images/illustration-box-desktop.svg");
  position: fixed;
  top: 260px;
  left: 180px;
  z-index: 10;
}

#woman {
  content: url("../public/images/illustration-woman-online-desktop.svg");
  position: absolute;
  top: 50px;
  left: -60px;
  width: 380px;
  z-index: 2;
}

#faq-list {
  width: 45%;
  height: 100%;
  padding-right: 20px;
  overflow: auto;
}

#faq-list > p {
  font-size: 12px;
  line-height: 1.5;
}

#faq-list > p > span {
  display: block;
  padding: 5px 0;
}

.faq-questions {
  border-bottom: 1px solid var(--color-light-grayish-blue);
  padding: 10px 0;
  cursor: pointer;
}

.bold {
  font-weight: 700;
}

.expand {
  color: var(--color-dark-grayish-blue);
  font-weight: 400;
}

.faq-questions img {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  padding: 0 10px;
}

.rotate {
  transform: rotateX(180deg);
}

.shadow,
.square {
  display: block;
  position: absolute;
  left: 10px;
  padding: 110px;
  transform: rotate(149deg) skew(28deg);
  border-radius: 10px;
  z-index: 1;
}

.shadow {
  top: 150px;
  background: var(--color-light-grayish-blue);
}

.square {
  border: 1px solid var(--color-light-grayish-blue);
}

.one {
  top: -100px;
}

.two {
  top: -50px;
}

@media only screen and (max-width: 600px) {
  body {
    height: 100%;
  }

  #root {
    height: 100%;
    padding: 100px 0 50px;
  }

  .container {
    flex-direction: column;
    justify-content: center;
    width: 320px;
    height: auto;
    margin: 50px 0;
    overflow: visible;
  }

  #first-flex {
    flex-grow: 1;
    padding: 35px 0;
  }

  #woman {
    top: -110px;
    left: 35px;
    width: 250px;
    margin: 0;
    content: url("../public/images/illustration-woman-online-mobile.svg");
  }

  #box {
    display: none;
  }

  .shadow {
    position: absolute;
    top: -45px;
    left: 85px;
    padding: 70px;
  }

  .square {
    display: none;
  }

  #faq-list {
    width: 100%;
    padding-right: 0;
    flex-grow: 9;
  }

  #faq-list h2 {
    text-align: center;
  }
}
